nav {
	background: #fff;
	width: 100%;
}
nav .container {
	max-width: 100%;
	margin: 0 auto;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav a {
	color: #333;
	text-decoration: none;
}
